@use 'vars';

.eight-page{
     max-height: 672px;
     background: linear-gradient(180deg, #FFFFFF 0%, #EDEDED 100%);
     .eight-page-container{
          max-width: 1380px;
          margin: auto;
          .contacts{
               display: flex;
               flex-direction: row;
               justify-content: space-between;
               padding: 10% 5% 10% 5%;
               gap: 6%;
               .p-header{
                    font-weight: 600;
                    font-size: 60px;
                    
               }
               p{
                    font-weight: 500;
                    font-size: 18px;
               }
               a{
                    color: black;
                    font-weight: 500;
                    font-size: 18px;
               }
          }
     }
}

.text{
     display: flex;
     flex-direction: column;
     justify-content: center;
     justify-content: space-between;
     padding-bottom: 3%;
}
.data{
     display: flex;
     flex-direction: row;
     align-items: center;
     gap: 13px;
     padding-top: 6%;
     
}
.data-3{
     display: flex;
     flex-direction: row;
     align-items: center;
     gap: 13px;
     padding-top: 3%;
}

.map{
    width: 781px;
    height: 382px;
     iframe{
          width: 100%;
          border-radius: 20px;
     }
     
}

@media (max-width:768px) {
     .eight-page{
          max-height: 100%;
     }
     .seven-page .seven-page-container{
          height: 1090px;
     }
     .eight-page .eight-page-container .contacts{
          flex-direction: column;
     }
     .eight-page .eight-page-container .contacts .p-header{
          font-size: 30px;
          padding-bottom: 30px;
     }
     .eight-page .eight-page-container .contacts{
          .text{
               padding-bottom: 20%;
          }
          .text-center{
               font-weight: 500;
               font-size: 16px;
               .data{   
                    svg{

                    }                 
                    padding-top: 6%;
               }
          }
     }
     .eight-page .eight-page-container .contacts p{
          font-size: 16px;
     }
     .seven-page .seven-page-container .flex-container .text{
          padding: 22% 3% 4% 3%;
          
     }
     .eight-page .eight-page-container .contacts .text{
          
          .data-3{
               display: flex;
               flex-direction: row;
               align-items: center;
               gap: 13px;
               padding-top: 18%;
          }
     }
     .eight-page .eight-page-container .contacts a{
          font-size: 16px;
     }
   
     .map{
          max-width: 100%;
          height: 382px;
           iframe{
                width: 100%;
                border-radius: 20px;
           }
           
      }
}
   