@use 'vars';

.fifth-page-container {
     min-height: 100%;
     background: linear-gradient(343.43deg, #EFEFEF 16.94%, #FEFEFE 96.46%);
     .content {
          max-width: 1380px;
          margin: auto;
          padding-left: 20px;
          padding-right: 20px;
          .content-flex{
               display: flex;
               justify-content: space-around;
               padding-top: 10%;
               padding-bottom: 10%;
               
               svg{
                    //max-width: 100%;
               }
               .info{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    .text-header{
                         margin-bottom: 10px;
                         .p-color{
                              font-family: vars.$regular-family-1;
                              font-weight: 600;
                              font-size: 60px;      
                              background: radial-gradient(53.93% 1778.15% at 56.74% 41.94%, #FF3D3D 0%, #B91F1F 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
                              -webkit-background-clip: text;
                              -webkit-text-fill-color: transparent;
                         }
                         .p-period {
                              font-family: vars.$regular-family-1;
                              font-weight: 500;
                              font-size: 60px;
                              margin-bottom: 10px;    
                         }
                     }
               }
               .rectangle{

                    background: #FFFFFF;
                    border-radius: 50px;
                    padding-left: 40px;
                    

               
                         margin-bottom: 4%!important;
                         p{
                              font-size: 23px;
                         }
                         
                         .text{
                              align-items: center;
                         }
                         
                         width: 548px;
                         
                         svg{
                              padding-top: 10px;
                              padding-right: 20px;
                         }
                         span{
                                   font-family: 'Inter';
                                   font-style: normal;
                                   font-weight: 400;
                                   font-size: 18px;
                         }
                         .red{
                              background: radial-gradient(53.93% 1778.15% at 56.74% 41.94%, #FF3D3D 0%, #B91F1F 100%);
                              -webkit-background-clip: text;
                              -webkit-text-fill-color: transparent;
                         }
                         .rectangle-content{
                              margin-bottom: 25px;
                              display: flex;
                              flex-direction: row;
                              align-items: center;
                              margin-bottom: 10px;
                              .svg-2{
                                   margin-top: 14px;
                                   margin-bottom: 6px;
                              }
                         }
                         
               
                    .text{
                         display: flex;
                         flex-direction: column;
                    }
                    p{   padding-left: 10px;
                         font-weight: 400;
                         font-size: 20px;
                    }
                    .p-red{
                         font-weight: 500;
                         background: radial-gradient(53.93% 1778.15% at 56.74% 41.94%, #FF3D3D 0%, #B91F1F 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
                         -webkit-background-clip: text;
                         -webkit-text-fill-color: transparent;
                    }
               }
          }
          .contact{
               position: relative;
               display: inline-block;
               .contact-content{
                    position: absolute;
                    width: 83%;
                    top: 43%;
                    left: 40%;
                    transform: translate(-36%, -44%);
                    .svg{
                         width: 500px;
                    }
                    .contact-flex{
                         display: flex;
                         flex-direction: column;
                         justify-content:center ;
                         img{
                              max-width: 31%;
                         }
                         p{
                              color: white;
                              font-size: 18px;
                         }
                         .p-header{
                              font-family: 'Inter';
                              font-style: normal;
                              font-weight: 600;                         
                              font-size: 24px;
                              margin-top: 10px;
                              
                         
                         }
                         .p-header-2{
                              font-family: 'Inter';
                              font-style: normal;
                              font-weight: 600;                         
                              font-size: 24px;
                              
                              margin-bottom: 10px;
                         }
                         .contacts{
                              display: flex;
                              align-items: center;
                              gap: 49px;
                              flex-direction: row;
                              padding: 10% 0% 0% 0%;
                              a{
                                   background: linear-gradient(110.89deg, #FF7373 -65.39%, #FF4444 89.78%);
                                   -webkit-background-clip: text;
                                   -webkit-text-fill-color: transparent;                             
                                   font-weight: 700;
                                   font-size: 24px;
                              }
                              .links{
                                   background: linear-gradient(89.74deg, #CA2F2F 3.02%, #EE3434 110.47%);
                                   border-radius: 8px;
                                   position: relative;
                                   .icon-links {
                                        position: absolute;
                                        top: 50%;
                                        left: 16%;                                    
                                        transform: translate(-2%, -52%);
                                        svg{
                                             //max-width: 100%;
                                        }
                                                                      
                                   }
                              }
                         }
                    }
               }
          }
     }
    
}

@media (max-width: 1100px) {
     .fifth-page-container .content .content-flex{
          display: flex;
          justify-content: space-between;
          flex-direction: column;
          align-items: center;
          .svg {
               //max-width: 90%;
          }
     }

     .fifth-page-container .content .content-flex .info .text-header{
          display: flex;
          flex-direction: column;
          align-items: center;
     }

     .fifth-page-container .content .content-flex .rectangle {
          margin-bottom: 4%!important;
          p{
               font-size: 23px;
          }
          
          .text{
               align-items: center;
          }
          text-align: center;
          width: 548px;
          margin: auto;
          svg{
               padding-top: 10px;
          }
          span{
                    font-family: 'Inter';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 18px;
          }
          .red{
               background: radial-gradient(53.93% 1778.15% at 56.74% 41.94%, #FF3D3D 0%, #B91F1F 100%);
               -webkit-background-clip: text;
               -webkit-text-fill-color: transparent;
          }
          .rectangle-content{
               margin-bottom: 25px;
          }
          
}
     
     
     
}

@media (max-width: 768px) {
     .fifth-page-container .content .content-flex{
          gap: 0;

     }
     .fifth-page-container .content .content-flex .info .text-header .p-color{
          font-size: 30px;
     }
     .fifth-page-container .content .content-flex .info .text-header .p-period{
          font-size: 30px
     }
     .fifth-page-container .content .content-flex .rectangle{
          width: 290px;
          height: 138px;
     }
     .fifth-page-container .content .content-flex .rectangle .rectangle-content{
          text-align: center;
          width: 211px;
          margin: auto;
          svg{
               padding-top: 10px;
          }
          span{
                    font-family: 'Inter';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 18px;
          }
          .red{
               background: radial-gradient(53.93% 1778.15% at 56.74% 41.94%, #FF3D3D 0%, #B91F1F 100%);
               -webkit-background-clip: text;
               -webkit-text-fill-color: transparent;
          }
     }
     .fifth-page-container .content .content-flex .rectangle p{
          font-size: 18px;
          font-weight: 600;
          gap: 0;
          margin: 0;
          
          //padding-top: 9px;
     }
     .fifth-page-container .content .contact .contact-content .contact-flex img{
          max-width: 23%;
          transform: translate(91px, -11px);
     }
     .fifth-page-container .content .contact .contact-content .contact-flex .contacts .links .icon-links {
          width: 65%;
          display: flex;
          flex-direction: row;
          align-items: center;
          gap: 3px;
     }
     .fifth-page-container .content .contact .contact-content .contact-flex .contacts{
          gap: 0px;
     }
     .fifth-page-container .content .contact .contact-content{
          width: 60%;
          top: 43%;
          left: 37%;
          transform: translate(-38%, -39%);
     }
     .fifth-page-container .content .content-flex .svg{
          //max-width:100%;
          width: 320px;
          height: 300px;
          padding-top: 20px;
     }
     .fifth-page-container .content .content-flex .rectangle .rectangle-content .svg-2{
          margin: 0;
     }
     .fifth-page-container .content .contact .contact-content .contact-flex .p-header{
          font-size: 18px;
          font-weight: 600;
          margin: 0;
          
     }
     .fifth-page-container .content .contact .contact-content .contact-flex .p-header-2{
          font-size: 18px;
          font-weight: 600;
          margin: 0;
          padding-bottom: 20px;
          
     }
     .fifth-page-container .content .contact .contact-content .contact-flex p{
          font-size: 14px;
          font-weight: 400;
     }
     .fifth-page-container .content .contact .contact-content .contact-flex .contacts a{
          font-size: 16px;
     }
     .fifth-page-container .content .content-flex .rectangle{
          border-radius: 20px;
          padding: 0;
     }
     .fifth-page-container .content .content-flex .info{
          text-align: center;
     }
     .fifth-page-container .content .contact .contact-content .contact-flex{
          width: 230px;
     }
     .fifth-page-container .content .contact .contact-content .contact-flex .contacts{
          justify-content: space-between;
     }
     .fifth-page-container .content .contact .contact-content .contact-flex .contacts .links{
          svg{
               width: 58px;
               height: 30px;
          }
     }
     .fifth-page-container .content .content-flex .info{
          p {
               font-size: 13px;         
              //padding-top: 7px;
          }
     }
     .fifth-page-container .content .content-flex .rectangle .rectangle-content{
          flex-direction: column;
     }
     .fifth-page-container .content .content-flex .rectangle svg{
          padding-right: 0;
     }
}