@use 'vars';

.full-page-container {
     background-image: url("../images/DTP.png");
     background-position-x: 100%;
     background-position-y: 100%;
     background-repeat: no-repeat;
     background-size: 65%;
     margin: auto;
   
     .content {
          margin: auto;
          max-width: 1380px;
          min-height: 786px;
          padding-left: 20px;
          padding-right: 20px;
          display: flex;     
          flex-direction: column;
          gap: 50px;
          .header {
               height: 66px;
               display: flex;
               flex-direction: row;
               align-items: center;
               justify-content: space-between;
               .logo {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    width: 21%;
                    p {
                         font-weight: 600;
                    }
                    img{
                         width: 20%;
                    }
               }
               .navbar{
                    display: flex;
                    flex-direction: row;
                    gap: 21px;
                    align-items: center;
               }
               .contacts{
                    display: flex;
                    align-items: center;
                    gap: 14px;
               }
          }
          .main-page {
          display: flex;
          flex-direction: column;
          //transform: translate(0%, 0%);
               h1 {
                    font-size: 60px;
                    font-weight: 600;
                    font-style: normal;
                    color: #000000
               }
               h2 {
                    font-family: vars.$regular-family-2;
                    font-weight: 500;
                    font-size: 18px;
                    color: #444444;
                    margin-top: 20px;
               }
               .rectangle {
                    margin-top: 30px;
                    margin-bottom: 20px;
                    border-style: solid;
                    width: 185px;
                    border: 1px solid #8B8B8B;
                    border-radius: 8px;
                    
                    p {  
                         font-weight: 500;                         
                         color: #8B8B8B;
                         margin: 11px;
                         text-align-last: center;
                    }
               }
               .button-contacts {
                    display: flex;
                    flex-direction: row;
                    margin-top: 4%;

                    
               .btn-grad {
                              background: linear-gradient(101.98deg, #EE3434 27.89%, #DD2626 58.75%);
                              border-radius: 8px;
                              margin-right: 14px;
                              //padding: 15px 45px;
                              text-align: center;                              
                              background-size: 200% auto;
                              color: white;            
                              box-shadow: 0 0 20px #eee;
                              border-radius: 8px;
                              display: block;
                              border: none;
                              p{
                                   margin: 20px;
                              }
                              }

                    
          
                    
                    .icon-links {
                         position: absolute;
                         display: flex;
                         gap: 9px;
                         transform: translate(28%, 80%);
                         align-items: center;
                         position: absolute;
                    }
               }
          }
     }
}

@media (max-width: 1100px) {
     
}
@media (min-width:768px) {
     .full-page-container .content {
          .logotip{
               display: none;
          } 

     }
}
@media (max-width: 768px) {
     .full-page-container{
          background-size: 122%;
     }
     .full-page-container .content .main-page{
          align-items: center;
     }
     .full-page-container .content .main-page h1{
          text-align: center;
          margin-bottom: 20px;
          font-size: 40px;
     }
     .full-page-container .content .main-page h2{
          margin-bottom: 20px;
          text-align: center;
     }
     
     .full-page-container .content .main-page .rectangle{
          margin-top: 30px;
          margin-bottom: 20px;
          border-style: solid;
          width: 185px;        
          border: 1px solid #8B8B8B;
          border-radius: 8px;
     }
     
     .full-page-container .content .header{
          display: none;
     }
     .full-page-container .content .main-page{
          
          .logotip{
               width: 371px;
               margin-top: 10px;
               img{
                    width: 67px;
               }
          }
     }
     .full-page-container .content .main-page .button-contacts{
          .links{
               display: none;
          }
     }
     .full-page-container .content .main-page .logotip{
          width: 100%;
          margin-top: 10px
     }
     .full-page-container .content .main-page .button-contacts .btn-grad{
          
          p{
               font-family: 'Inter';
               font-style: normal;
               font-weight: 600;
               font-size: 14px;
               line-height: 17px;
               display: flex;
               align-items: center;
               text-transform: uppercase;
               //margin: 17px 39px;
          }
     }
     .full-page-container .content .main-page .button-contacts .btn-grad{
          margin-right: 0;

     }
    
}
@media (min-width: 1700px) {
     .full-page-container{
          background-size: 50%;
     }

}
     