@use 'vars';
.modal{
     overflow-y: scroll;
     display: none;
     position: fixed;
     top: 0;
     left: 0;
     width:100vw;
     height: 100vh;
     justify-content: center;
     align-items: center;
     background-color: rgba(0,0,43,.5);
 
 }
 .modal-price{
     display: none;
     position: fixed;
     top: 0;
     left: 0;
     width:100vw;
     height: 100vh;
     justify-content: center;
     align-items: center;
     background-color: rgba(0,0,43,.5);
}
 .modal.opened {
     display: flex;
}

.modal-price.opened{
     display: flex;
}
// .modal-opened{
//      width: 700px;
//      height: 600px;
//      border-radius: 20px;
//      background-color: white;
// }




.content-opened{
     width: 509px;
     // height: 360px;     
     background: linear-gradient(141.22deg, #FFFFFF -0.35%, #FBFBFB 77.72%);
     border-radius: 20px;
     margin: 10px;
}

#price {
     
     font-size: 3em;
   
     margin-left: 33px;
     margin-top: 40px;
     
 }
 .discount{
     display: flex;
    flex-direction: column;    
    align-items: center;
 }
 .close {
     position: absolute;
     background: none;
     border: none;
     display: block;
     margin-top: 22px;
     margin-left: 460px;
 }
 .close-discount{
     position: absolute;
     background: none;
     border: none;
     display: block;
     margin-top: 22px;
     margin-left: 451px;
 }
 .close_svg {
     width: 65px;
     height: 65px;
 }
.call-us{
     padding-right: 60px;
}
.discount{
     padding: 35px 26px 26px 26px;
}
.discount-block{
     display: flex;
     justify-content: center;
     flex-direction: row;
     padding-top: 13px;
     p{
          font-weight: 700;
          font-size: 80px;
          background: linear-gradient(110.89deg, #380D0D -65.39%, #EE3434 89.78%);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
     }
}
 .info_title{
     font-family: vars.$regular-family-1;     
     text-align: center;
     font-weight: 600;
     font-size: 20px;
 }
 
 .contacts-modal{
     display: flex;
     align-items: center;     
     flex-direction: row;     
     padding: 7% 0% 0% 0%;
     justify-content: space-around;
     .call-us{
          p{
               font-weight: 500;
               font-size: 18px;
               padding-bottom: 10px;
          }
          a{
               color: black;                         
               font-weight: 700;
               font-size: 24px;
          }
     }
     .links{
          background: linear-gradient(89.74deg, #CA2F2F 3.02%, #EE3434 110.47%);
          border-radius: 8px;
          position: relative;
          .icon-links {
               position: absolute;
               top: 50%;
               left: 16%;                                    
               transform: translate(-2%, -52%);
               svg{
                    max-width: 100%;
               }
                                             
          }
     }
}

.pdf.opened{
     display: block;
}
#pdf{
     background-color: white;
     border-radius: 8px;    
     margin-top: 20px;
     svg{
          padding: 7px;
     }
     .btn-text{
          font-family: 'Inter';
          font-style: normal;
          font-weight: 500;
          font-size: 18px;
          float:left; 
          padding: 7px 10px;
     }
}
#pdf-price{
     background-color: white;
     border-radius: 8px;    
     margin-top: 20px;
     svg{
          padding: 7px;
     }
     .btn-text{
          font-family: 'Inter';
          font-style: normal;
          font-weight: 500;
          font-size: 18px;
          float:left; 
          padding: 7px 10px;
     }
}


@media (max-width: 768px) {
     .close-discount{
          position: absolute;
          background: none;
          border: none;
          display: block;
          margin-top: 22px;
          margin-left: 312px;
      }
      .content-opened{
          width: 295px;
          height: 311px;
      }
      .modal-price.opened{          
          .content-opened{
               height: 324px;
          }
      }
      .contacts-modal {          
          width: 247px;
          
          
          p{
               font-family: 'Inter';
               font-style: normal;
               font-weight: 500;
               font-size: 16px;
          }
          a{
               font-family: 'Inter';
               font-style: normal;
               font-weight: 700;
               font-size: 16px;
               line-height: 19px;
 
          }
    }
   
    .close{
     margin-top: 25px;
    margin-left: 255px;
    }
    .close-discount{
     margin-top: 17px;
     margin-left: 250px;
    }
    .info_title{
     font-size: 25px;
    }
    .discount-block p{
     font-size: 50px;
    }

    #pdf {
     svg{
          padding: 5px 10px 0px 0px;
     }
     .btn-text{
          font-family: 'Inter';
          font-style: normal;
          font-weight: 500;
          font-size: 14px;
          padding: 7px 10px;
     }
     }
     #pdf-price {
          svg{
               padding: 5px 10px 0px 0px;;
          }
          .btn-text{
               font-family: 'Inter';
               font-style: normal;
               font-weight: 500;
               font-size: 14px;
               padding: 7px 10px;
          }
          }
     .contacts-modal .call-us{
          padding-right: 23px;
     }
     .contacts-modal .call-us p{
          font-size: 14px;
     }
     .contacts-modal .call-us a{
          font-size: 16px;
     }    
     
}