@use 'vars';

.sixth-page{
     max-height: 776px;
     background: linear-gradient(343.43deg, #FEFEFE 16.94%, #EFEFEF 96.46%);
     background-size: cover;
     .sixth-page-container{
          max-width: 1380px;
          margin: auto;
          .flex-container{
               display: flex;
               flex-direction: column;
               align-items: center;
               padding-bottom: 100px;
               .flex-text{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    margin-top: 73px;
                    p {
                         font-family: 'Inter';
                         font-style: normal;
                         font-weight: 600;
                         font-size: 60px;
                         background: linear-gradient(110.89deg, #380D0D -65.39%, #EE3434 89.78%);
                         -webkit-background-clip: text;
                         -webkit-text-fill-color: transparent;
                    }
               }
               .info-blocks{
                    display: flex;
                    flex-direction: row;
                    gap: 10px;  
                    padding-top: 60px;   
                    .block1{
                         position: relative;
                         display: inline-block;
                         padding: 20px;
                         img{
                              max-width: 94%;;                             
                              // left: 264px;
                              // top: 264px;
                         }
                        
                          #bg-1 {
                              width: 429px;
                              height: 400px;
                              
                              border-radius: 50px;
                              -webkit-transform: perspective(200px) rotateY(3deg);
                              box-shadow: 0px 10px 50px rgba(132, 132, 132, 0.25);
                          }
                          
                         .block-text{
                              min-width: 80%;
                              position: absolute;
                              top: 40%;
                              left: 48%;
                              transform: translate( -50%, -50% );
                             
                              .p-strong{
                                   padding-bottom: 20px;
                                   font-weight: 700;
                                   font-size: 20px;
                              }
                              p{
                                   font-size: 18px;
                              }
                              .p-red{
                                   font-weight: 700;
                                   font-size: 20px;
                                   background: linear-gradient(110.89deg, #380D0D -65.39%, #EE3434 89.78%);
                                   -webkit-background-clip: text;
                                   -webkit-text-fill-color: transparent;
                                   padding-top: 20px;
                              }
                             
                         }
                    }
                    .block2{
                         position: relative;
                         display: inline-block;
                         img{ 
                              max-width: 94%;;                              
                              // left: 750px;
                              // top: 264px;
                         }
                         #bg-2 {
                              width: 436px;
                              height: 384px;
                              
                              border-radius: 50px;
                              -webkit-transform: perspective(200px) rotatex(3deg);
                              box-shadow: 0px 10px 50px rgba(132, 132, 132, 0.25);
                          }
                         .block2-text{
                              min-width: 80%;
                              position: absolute;
                              top: 31%;
                              left: 49%;
                              transform: translate(-50%, -50%);
                             
                              .p-strong{
                                   padding-bottom: 20px;
                                   font-weight: 700;
                                   font-size: 20px;
                              }
                              p{
                                   font-size: 15px;
                              }
                              .p-red{
                                   font-weight: 700;
                                   font-size: 20px;
                                   background: linear-gradient(110.89deg, #380D0D -65.39%, #EE3434 89.78%);
                                   -webkit-background-clip: text;
                                   -webkit-text-fill-color: transparent;
                                   padding-top: 20px;
                              }
                         }
                    }
                    .block3{
                         position: relative;
                         display: inline-block;
                         padding: 20px;
                         img{
                              display: block;
                              max-width: 94%;; 
                              // left: 1214px;
                              // top: 254px;
                         }
                         #bg-3 {
                              width: 429px;
                              height: 400px;                            
                              border-radius: 50px;
                              -webkit-transform: perspective(200px) rotateY(-3deg);
                              box-shadow: 0px 10px 50px rgba(132, 132, 132, 0.25);
                          }
                         .block3-text {
                              min-width: 80%;
                              position: absolute;
                              top: 35%;
                              left: 53%;
                              transform: translate(-50%, -50%);
                              .p-strong{
                                   padding-bottom: 20px;
                                   font-weight: 700;
                                   font-size: 20px;
                                   p{
                                        font-size: 20px;
                                   }
                              }
                              p{
                                   font-size: 15px;
                              }
                              .p-red{
                                   font-weight: 700;
                                   font-size: 20px;
                                   background: linear-gradient(110.89deg, #380D0D -65.39%, #EE3434 89.78%);
                                   -webkit-background-clip: text;
                                   -webkit-text-fill-color: transparent;
                                   padding-top: 20px;
                              }
                         }
                    }

                    
               }
               
          }
     }
}
               .info-blocks{
                    display: flex;
                    flex-direction: row;
                    gap: 10px;  
                    padding-top: 60px;   
                    .block1{
                         position: relative;
                         display: inline-block;
                         padding: 20px;
                         img{
                              max-width: 94%;;                             
                              // left: 264px;
                              // top: 264px;
                         }
                        
                          #bg-1 {
                              width: 429px;
                              height: 400px;
                              
                              border-radius: 50px;
                              -webkit-transform: perspective(200px) rotateY(3deg);
                              box-shadow: 0px 10px 50px rgba(132, 132, 132, 0.25);
                          }
                          
                         .block-text{
                              min-width: 80%;
                              position: absolute;
                              top: 40%;
                              left: 48%;
                              transform: translate( -50%, -50% );
                             
                              .p-strong{
                                   padding-bottom: 20px;
                                   font-weight: 700;
                                   font-size: 20px;
                              }
                              p{
                                   font-size: 18px;
                              }
                              .p-red{
                                   font-weight: 700;
                                   font-size: 20px;
                                   background: linear-gradient(110.89deg, #380D0D -65.39%, #EE3434 89.78%);
                                   -webkit-background-clip: text;
                                   -webkit-text-fill-color: transparent;
                                   padding-top: 20px;
                              }
                             
                         }
                    }
                    .block2{
                         position: relative;
                         display: inline-block;
                         img{ 
                              max-width: 94%;;                              
                              // left: 750px;
                              // top: 264px;
                         }
                         #bg-2 {
                              width: 436px;
                              height: 384px;
                              
                              border-radius: 50px;
                              -webkit-transform: perspective(200px) rotatex(3deg);
                              box-shadow: 0px 10px 50px rgba(132, 132, 132, 0.25);
                          }
                         .block2-text{
                              min-width: 80%;
                              position: absolute;
                              top: 31%;
                              left: 49%;
                              transform: translate(-50%, -50%);
                             
                              .p-strong{
                                   padding-bottom: 20px;
                                   font-weight: 700;
                                   font-size: 20px;
                              }
                              p{
                                   font-size: 15px;
                              }
                              .p-red{
                                   font-weight: 700;
                                   font-size: 20px;
                                   background: linear-gradient(110.89deg, #380D0D -65.39%, #EE3434 89.78%);
                                   -webkit-background-clip: text;
                                   -webkit-text-fill-color: transparent;
                                   padding-top: 20px;
                              }
                         }
                    }
                    .block3{
                         position: relative;
                         display: inline-block;
                         padding: 20px;
                         img{
                              display: block;
                              max-width: 94%;; 
                              // left: 1214px;
                              // top: 254px;
                         }
                         #bg-3 {
                              width: 429px;
                              height: 400px;                            
                              border-radius: 50px;
                              -webkit-transform: perspective(200px) rotateY(-3deg);
                              box-shadow: 0px 10px 50px rgba(132, 132, 132, 0.25);
                          }
                         .block3-text {
                              min-width: 80%;
                              position: absolute;
                              top: 35%;
                              left: 53%;
                              transform: translate(-50%, -50%);
                              .p-strong{
                                   padding-bottom: 20px;
                                   font-weight: 700;
                                   font-size: 20px;
                                   p{
                                        font-size: 20px;
                                   }
                              }
                              p{
                                   font-size: 15px;
                              }
                              .p-red{
                                   font-weight: 700;
                                   font-size: 20px;
                                   background: linear-gradient(110.89deg, #380D0D -65.39%, #EE3434 89.78%);
                                   -webkit-background-clip: text;
                                   -webkit-text-fill-color: transparent;
                                   padding-top: 20px;
                              }
                         }
                    }

                    
               }
@media (max-width: 1441px){

.sixth-page .sixth-page-container .flex-container{
     .info-blocks{          
          .block1{               
               img{
               }
              
                #bg-1 {
                    width: 329px;
                    height: 320px;
                   
                }
                
               .block-text{
                   
                    .p-strong{
                         font-size: 15px;
                    }
                    p{
                         font-size: 13px;
                    }
                    .p-red{
                         font-size: 15px;
                    }
                   
               }
          }
          .block2{
               
               img{ 
               }
               #bg-2 {
                    width: 356px;
                    height: 304px;
                }
               .block2-text{
                   
                    .p-strong{
                         font-size: 15px;
                    }
                    p{
                         font-size: 13px;
                    }
                    .p-red{
                         font-size: 15px;
                    }
               }
          }
          .block3{
               img{
               }
               #bg-3 {
                    width: 329px;
                    height: 320px;
                }
               .block3-text {
                    top: 37%;
                    left: 55%;
                    .p-strong{
                         font-size: 15px;                         
                    }
                    p{
                         font-size: 15px;
                    }
                    .p-red{
                         font-size: 15px;
                    }
               }
          }

          
     }
     }
}

@media (max-width: 1100px) {
     .sixth-page .sixth-page-container .flex-container .flex-text{
          font-size: 50px;
     }
     .sixth-page .sixth-page-container .flex-container{
          .info-blocks{          
               .block1{               
                    img{
                    }
                   
                    #bg-1 {
                         width: 260px;
                         height: 246px;
                        
                    }
                     
                    .block-text{
                        
                         .p-strong{
                              font-size: 10px;
                         }
                         p{
                              font-size: 8px;
                         }
                         .p-red{
                              font-size: 10px;
                         }
                        
                    }
               }
               .block2{
                    
                    img{ 
                    }
                    #bg-2 {
                         width: 244px;
                         height: 244px;
                     }
                    .block2-text{
                        
                         .p-strong{
                              font-size: 10px;
                         }
                         p{
                              font-size: 8px;
                         }
                         .p-red{
                              font-size: 10px;
                         }
                    }
               }
               .block3{
                    img{
                    }
                    #bg-3 {
                         width: 260px;
                         height: 246px;
                     }
                    .block3-text {
                         top: 37%;
                         left: 55%;
                         .p-strong{
                              font-size: 10px;                         
                         }
                         p{
                              font-size: 8px;
                         }
                         .p-red{
                              font-size: 10px;
                         }
                    }
               }
     
               
          }
     }
}

@media (min-width: 768px){
     .slideshow-container{
          display: none;
     }
     .dots{
          display: none;
     }
}

@media (max-width: 768px){

     .sixth-page .sixth-page-container .flex-container .flex-text p{
          font-size: 25px;
     }
     .sixth-page .sixth-page-container .flex-container .info-blocks{
          display: none;
     }
}